.main-page {
    width: 100%;
    background-color: #242424;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.dock {
    width: 100px;
    height: 100%;
    background-color: #161717;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;

}

.dock-icon {
    width: 35px;
}

img {
    position: relative;
    -webkit-user-drag: none;
}

li {
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

#error_field {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 20px;
    margin-bottom: 15px;
}

#generate_button_div {
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
}

#generate_button {
    justify-self: right;
    width: 100%;
    background-color: lightblue;
}


.active::before {
    position: absolute;
    top: -13px;
    left: -25px;
    content: "";
    background-color: black;
    height: 60px;
    width: 90px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}